{% extends 'admin_base.html' %}
{% load static %}
{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin:0;padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;border:none;
    text-transform: capitalize;
    transition: all .2s linear;
    background:none;
}

section{
    padding:0 4%;
}

.roomcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap:2rem;
}

.roomcontainer .bgcolor1{
    background:blue;
}

.roomcontainer .bgcolor2{
    background:red;
}

.roomcontainer .bgcolor3{
    background:rgb(219, 73, 219);
}

.roomcontainer .bgcolor4{
    background:rgb(16, 211, 146);
}

.roomcontainer .box{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    padding:3rem 2rem;
    color:#fff;
    border-radius: .5rem;
}

.roomcontainer .box .sector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.roomcontainer .box .sector h4{
    font-size:.8rem;
}

@media (max-width:1200px){
    
    .roomcontainer{
        grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
        gap:1.5rem;
    }

    .roomcontainer .box{
        gap:1rem;
        padding:2rem 1.8rem;
    }
    
    .roomcontainer .box .sector{
        gap:1.5rem;
    }
}
</style>
<section style="margin-top: 6rem;">
    <div class="roomcontainer">

        <button class="box bgcolor1" onclick="myFunction(1)">
            <div class="sector">
                <h4>Number of Transctions 6231</h4>
                <h4>Single minimum purchase 1</h4>
            </div>
            <div class="sector">
                <h4>NEW MEMBER</h4>
                <h4>Minimum entry balance 100 </h4>
            </div>
        </button>

        <div class="box bgcolor2" onclick="myFunction(2)">
            <div class="sector">
                <h4>Number of Transctions 2066</h4>
                <h4>Single minimum purchase 5</h4>
            </div>
            <div class="sector">
                <h4>INTERMEDIATE</h4>
                <h4>Minimum entry balance 5,000</h4>
            </div>
        </div>

        <button class="box bgcolor3" onclick="myFunction(3)">
            <div class="sector">
                <h4>Number of Transctions 6231</h4>
                <h4>Single minimum purchase 10</h4>
            </div>
            <div class="sector">
                <h4>ADVANCED</h4>
                <h4>Minimum entry balance 20,000 </h4>
            </div>
        </button>

        <button class="box bgcolor4" onclick="myFunction(4)">
            <div class="sector">
                <h4>Number of Transctions 6231</h4>
                <h4>Single minimum purchase 50</h4>
            </div>
            <div class="sector">
                <h4>VIP ROOM</h4>
                <h4>Minimum entry balance 50,000 </h4>
            </div>
        </button>
    </div>
</section>

<script>

    const myFunction =  (id) => {
        if(id == 1){
            window.location.href='/myadmin/viewnewmember/'
        }else if(id == 2){
            window.location.href='#inter'
        }else if(id == 3){
            window.location.href='#ad'
        }else if(id == 4){
            window.location.href='#vip'
        }else{
            alert("Not Enough Coin !")
        }
    }

</script>
{% endblock %}