{% extends 'customer_base.html' %}
{% load static %}
{% block content %}
<center>
<section class="member">
    <div class="member-container">
        <div class="match">
            <h3>US</h3>
            <div class="amount">
                <p>Total Amount</p>
                <p><strong>{{b}}</strong> USDT</p>
            </div>
            <div class="last-time">
                <p>Last Time</p>
                <p>{{histroy.first.roundno}}</p>
            </div>
            <h3>Price Range</h3>
            <p class="plus">{{histroy.first.a}} + {{histroy.first.b}} + {{histroy.first.c}} = {{histroy.first.total}}
            </p>
            <div class="button">
                {% if histroy.first.total <= 13 %} <button>Bear</button>
                    {% else %}
                    <button>Bull</button>
                    {% endif %}
                    {% if histroy.first.total|divisibleby:2 %}
                    <button>Twin</button>
                    {% else %}
                    <button>Single</button>
                    {% endif %}
            </div>
            <div class="open-time">
                <p>Open Time</p>
                <p>{{roundno}}</p>
            </div>
            <h3 class="time" id="timer">5:00</h3>
            <div class="button-2">
                <button style="border:4px solid blue" id="bull">Bull</button>
                <button style="border:4px solid red" id="single">Single</button>
            </div>
            <div class="box">
                <p id="am">0.9</p>
            </div>
            <div class="button-2">
                <button style="border:4px solid red" id="bear">Bear</button>
                <button style="border:4px solid blue" id="twin">Twin</button>
            </div>
            <div class="input">
                <input type="text" id="cinput" placeholder="Amount">
                <span>Available - <strong>{{b}}</strong> USDT</span>
            </div>
            <button type="submit" id="sub">Purchase</button>
        </div>
        <div class="graph-table">
            <div class="graph">
                <canvas id="myChart"></canvas>
            </div>
            <div class="table">
                <table border="1">
                    <tr style="background-color: #222;">
                        <td colspan="3">
                            <h1>Recent History</h1>
                        </td>
                    </tr>
                    <tr>
                        <th>Round</th>
                        <th>Result</th>
                        <th>Status</th>
                    </tr>
                    {%for h in histroy %}
                    <tr class="tb">
                        <td>{{h.roundno}}</td>
                        <td>{{h.a}} + {{h.b}} + {{h.c}} = {{h.total}}</td>
                        <td>
                            {% if h.total <= 13 %} <button>Bear</button>
                                {% else %}
                                <button>Bull</button>
                                {% endif %}
                                {% if h.total|divisibleby:2 %}
                                <button>Twin</button>
                                {% else %}
                                <button>Single</button>
                                {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
    
                <table border="1">
                    <tr style="background-color: #222;">
                        <td colspan="4">
                            <h1>Recent History</h1>
                        </td>
                    </tr>
                    <tr>
                        <th>Round</th>
                        <th>Purchased</th>
                        <th>Amount</th>
                        <th>Results</th>
                    </tr>
                    {%for h in uh %}
                    <tr class="tb">
                        <td>{{h.roundno}}</td>
                        <td><button>{{h.choice}}</button></td>
                        <td>{{h.amount}}</td>
                        {% if h.result == 'success' %}
                        <td><span style="background:transparent !important;border:3px solid #73d75d;padding:.4rem 1rem;border-radius: .8rem;color:#73d75d;">{{h.result}}</span></td>
                        {% elif h.result == 'failed' %}
                        <td><span style="background:transparent !important;border:3px solid red;padding: .4rem 1.55rem;border-radius: .8rem;color:red;">{{h.result}}</span></td>
                        {% else %}
                        <td><span style="background:transparent !important;border:3px solid orange;padding:.4rem 1rem;border-radius: .8rem;color:orange;">{{h.result}}</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <input type="text" value="{{b}}" id="b" hidden />
    <h6 id="u" hidden>{{u}}</h6>
    <h6 id="userid" hidden>{{user.id}}</h6>
</section>
</center>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const countdownElement = document.getElementById('timer');

const Count = () => {
    console.log("count")
    now = new Date();
    minute = now.getMinutes() % 5
    minutes = 5 - minute
    seconds = minutes * 60 - now.getSeconds()
    countdownElement.innerHTML = minutes + ":"+ seconds % 60

    if(minutes == 0 && seconds == 0){
        window.location.reload()
    }
}

setInterval(() => {
    Count()
}, 1000);

    const bull = document.getElementById("bull")
    const single = document.getElementById("single")
    const bear = document.getElementById("bear")
    const twin = document.getElementById("twin")

    const cinput = document.getElementById("cinput")
    const b = document.getElementById("b")

    const sub = document.getElementById("sub")
    const u = document.getElementById("u").innerHTML
    const userid = Number(document.getElementById("userid").innerHTML)

    let uc;
    const UChoice = (c) => {
        console.log("ok")
        if (c == "bull") {
            bull.style.backgroundColor = "blue"
            bull.style.color = "white"
            bear.style.backgroundColor = "white"
            bear.style.color = "black"
            single.style.backgroundColor = "white"
            single.style.color = "black"
            twin.style.backgroundColor = "white"
            twin.style.color = "black"
        } else if (c == "bear") {
            bull.style.backgroundColor = "white"
            bull.style.color = "black"
            bear.style.backgroundColor = "red"
            bear.style.color = "white"
            single.style.backgroundColor = "white"
            single.style.color = "black"
            twin.style.backgroundColor = "white"
            twin.style.color = "black"
        } else if (c == "twin") {
            bull.style.backgroundColor = "white"
            bull.style.color = "black"
            bear.style.backgroundColor = "white"
            bear.style.color = "black"
            single.style.backgroundColor = "white"
            single.style.color = "black"
            twin.style.backgroundColor = "blue"
            twin.style.color = "white"
        } else {
            bull.style.backgroundColor = "white"
            bull.style.color = "black"
            bear.style.backgroundColor = "white"
            bear.style.color = "black"
            single.style.backgroundColor = "red"
            single.style.color = "white"
            twin.style.backgroundColor = "white"
            twin.style.color = "black"
        }
        uc = c
    }

    twin.addEventListener('click', function () { UChoice("twin"); });

    single.addEventListener('click', function () { UChoice("single"); });

    bull.addEventListener('click', function () { UChoice("bull"); });

    bear.addEventListener('click', function () { UChoice("bear"); });

    sub.onclick = function () {
        if (uc == undefined) {
            alert("Please Choose")
        } else if (Number(cinput.value) < 50000) {
            alert("You need to pick more than 50000")
        }
        else {
            window.location.href = `/customer/upick/${uc}/${cinput.value}/4/`
        }

    }

    const ctx = document.getElementById('myChart');

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [ {%for h in histroy %} '{{ h.roundno }}', {% endfor %}],
    datasets: [{
      label: 'first number',
      data: [{%for h in histroy %} '{{ h.a }}', {% endfor %}],
      borderWidth: 1,
      backgroundColor: [
                            'rgba(226, 14, 2, 1.0)',

                        ],
    },
    {
      label: 'second number',
      data: [{%for h in histroy %} '{{ h.b }}', {% endfor %}],
      borderWidth: 1,
      backgroundColor: [
                            'rgba(0, 0, 255, 1)',

                        ],
    },
    {
      label: 'third number',
      data: [{%for h in histroy %} '{{ h.c }}', {% endfor %}],
      borderWidth: 1,
      backgroundColor: [
                            'rgba(115, 215, 93, 1)',

                        ],
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});
</script>

{% endblock %}